<div class="navbar-wagon">

  <a href="/" class="navbar-wagon-brand">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Yelp_Logo.svg/500px-Yelp_Logo.svg.png" />
  </a>

  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <%= link_to 'New Restaurant', new_restaurant_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</div>
